<div id="signin">
    <div>Регистрация</div>
    <div id="email-input"></div>
    <div>
        <div id="password-input"></div>
        <div id="show-pass-btn"></div>
    </div>
    <div>
        <div id="repeat-password-input"></div>
        <div id="show-repeat-pass-btn"></div>
    </div>
    <div id="signup-btn"></div>
    <div id="signin-btn"></div>
</div>